@page
@{
    ViewData["Title"] = "上傳清理合約";
}
<div id="app" v-cloak>
    <environment include="Development">
        <pre>{{Rec|json}}</pre>
        <pre>{{Qry|json}}</pre>
    </environment>
    <div class="form-inline inline-box">
        <label for="Dt" class="control-label ml-4">預定清理日期:</label>
        <flat-pickr v-model="Qry.StartDt" :config="FlatPickrCfg" placeholder="開始日期" name="FlatPickrCfg" class="form-control text-center" style="width:8rem;"></flat-pickr>
        ～<flat-pickr v-model="Qry.EndDt" :config="FlatPickrCfg" placeholder="結束日期" name="FlatPickrCfg" class="form-control text-center" style="width:8rem;"></flat-pickr>
        <label class="control-label ml-4">使用狀態:</label>
        <label><input type="radio" v-model.number="Qry.Cle_State" value="1" />已安排日期</label>
        <label><input type="radio" v-model.number="Qry.Cle_State" value="D" />待確認合約</label>
        <label><input type="radio" v-model.number="Qry.Cle_State" value="D1" />已確認合約</label>
        <label><input type="radio" v-model.number="Qry.Cle_State" value="DM" />合約須補正</label>
        <label><input type="radio" v-model.number="Qry.Cle_State" value="C1" />已完成清理</label>
        <div class="m-auto"></div>
        <input type="button" value="搜尋" @@click="GetList(Qry)" class="btn btn-outline-success" />
    </div>
    <div class="table-responsive-md">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>清理編號</th>
                    <th>預定清理日期</th>
                    <th>清理數量</th>
                    <th>清除機構</th>
                    <th>處理機構</th>
                    <th>清理進度</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in RecList.slice(pageStart, pageStart + countOfPage)">
                    <td>{{item.Cle_Sch_No}}</td>
                    <td>{{item.Cle_Date | formatDate}}</td>
                    <td>{{item.Cle_Qty}}</td>
                    <td>{{item.Cle_Name}}</td>
                    <td>{{item.Tre_Name}}</td>
                    <td>{{GetStatus(item.Cle_State)}}</td>
                    <td>
                        <input type="button" class="btn btn-outline-dark" value="檢視" @@click="View(item);" v-if="item.Cle_State == 'D' || item.Cle_State ==  'D1' || item.Cle_State ==  'C1'"/>
                        <input type="button" class="btn btn-outline-primary" value="編輯" @@click="Edit(item,index+pageStart);" v-if="item.Cle_State == '1' || item.Cle_State ==  'DM'" />
                        <form style="display:inline" method="post" action='@Url.Content("~/BackEnd/Apply/ScrapBookingPrintList")' target="_blank">
                            @Html.AntiForgeryToken()
                            <input type="hidden" v-model="item.Cle_Sch_No" :value="item.Cle_Sch_No" name="cno">
                            <button class="btn btn-outline-info" type="submit">排出表</button>
                        </form>						
                    </td>
                </tr>
            </tbody>
        </table>
    </div><!-- 查詢結果 -->
    <div class="text-right">
        <partial name="_PagerRecListPartial" />
    </div><!-- 分頁控制 -->
    <div id="ModifyDialog" class="modal fade text-left" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">[編輯]<span v-if="Rec.Pid > 0"> {{Rec.Cle_Sch_No}}</span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="Cle_Sch_No" class="col-md-3 col-form-label">清理編號</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" v-model="Rec.Cle_Sch_No" id="Cle_Sch_No" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Sum_Qty" class="col-md-3 col-form-label">清理數量(片)</label>
                        <div class="col-md-9">
                            <input type="text" id="Sum_Qty" class="form-control" v-model="RecV.Sum_Qty" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Sum_Weight" class="col-md-3 col-form-label">預估重量(公斤)</label>
                        <div class="col-md-9">
                            <input type="text" id="Sum_Weight" class="form-control" v-model="RecV.Sum_Weight" readonly />
                        </div>
                    </div>
                </div>
                <div class="table-responsive-md">

                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th>案場排出登記表申請編號</th>
                                <th>存放地點</th>
                                <th>排出數量</th>
                                <th>預估重量(公斤)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(Sitem,index) in RecSchSBList.slice(pageViewStart, pageViewStart + countViewOfPage)">
                                <td>
                                    @*{{Sitem.Bookingno}}*@
                                    <form style="display:inline" method="post" action='@Url.Content("~/BackEnd/Apply/ScrapBookingVue")' target="_blank">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" v-model="Sitem.Bookingno" :value="Sitem.Bookingno" name="Bno">
                                        <button class="btn btn-outline-info" type="submit">{{Sitem.Bookingno}}</button>
                                    </form>
                                </td>
                                <td>{{Sitem.USAddr1}}</td>
                                <td>{{Sitem.Qty}}</td>
                                <td>{{Sitem.SPWeight1}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- 查詢結果 -->
                <div class="text-right">
                    <partial name="_PagerRecViewListPartial" />
                </div>
                <!-- 分頁控制 -->
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="Cle_Date" class="col-md-3 col-form-label">預定清除日期</label>
                        <div class="col-md-9">
                            <flat-pickr v-model="Rec.Cle_Date" :config="FlatPickrCfg" placeholder="預定清除日期" name="FlatPickrCfg" class="form-control w-8" id="Cle_Date" readonly disabled></flat-pickr>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Cle_Name" class="col-md-3 col-form-label">清除機構</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" v-model="Rec.Cle_Name" maxlength="50" id="Cle_Name" readonly />
                            <label for="FileCleDoc"></label>
                            <input type="file" accept=".pdf" class="form-control-file" id="FileCleDoc" @@change="FileUpLoadChange($event,Attached.FileCleDoc,'清除機構合約文件')" />
                        </div>
                        <div class="col-md-12">
                            <a href="~/pubFile/清除契約書.odt">清除契約書範本下載</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Tre_Name" class="col-md-3 col-form-label">處理機構</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" v-model="Rec.Tre_Name" maxlength="50" id="Tre_Name" readonly />
                            <label for="FileTreDoc"></label>
                            <input type="file" accept=".pdf" class="form-control-file" id="FileTreDoc" @@change="FileUpLoadChange($event,Attached.FileTreDoc,'處理機構合約文件')" />
                        </div>
                        <div class="col-md-12">
                            <a href="~/pubFile/處理契約書.odt">處理契約書範本下載</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @@click="Save(Rec,Attached);">存檔</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- 編輯框 -->
    <div id="ViewDialog" class="modal fade text-left" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">[編輯]<span v-if="Rec.Pid > 0"> {{Rec.Cle_Sch_No}}</span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="Cle_Sch_No_r" class="col-md-3 col-form-label">清理編號</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" v-model="Rec.Cle_Sch_No" id="Cle_Sch_No_r" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="RecV.Sum_Qty" class="col-md-3 col-form-label">清理數量(片)</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="RecV.Sum_Qty" v-model="RecV.Sum_Qty" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="RecV.Sum_Weight" class="col-md-3 col-form-label">預估重量(公斤)</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="RecV.Sum_Weight" v-model="RecV.Sum_Weight" readonly />
                        </div>
                    </div>
                </div>
                <div class="table-responsive-md">

                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th>案場排出登記表申請編號</th>
                                <th>存放地點</th>
                                <th>排出數量</th>
                                <th>預估重量(公斤)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(Sitem,index) in RecSchSBList.slice(pageViewStart, pageViewStart + countViewOfPage)">
                                <td>{{Sitem.Bookingno}}</td>
                                <td>{{Sitem.USAddr1}}</td>
                                <td>{{Sitem.Qty}}</td>
                                <td>{{Sitem.SPWeight1}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- 查詢結果 -->
                <div class="text-right">
                    <partial name="_PagerRecViewListPartial" />
                </div>
                <!-- 分頁控制 -->
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="Cle_Date_r" class="col-md-3 col-form-label">預定清除日期</label>
                        <div class="col-md-9">
                            <flat-pickr v-model="Rec.Cle_Date" :config="FlatPickrCfg" placeholder="預定清除日期" name="FlatPickrCfg" class="form-control w-8" id="Cle_Date_r" readonly disabled></flat-pickr>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Cle_Name_r" class="col-md-3 col-form-label">清除機構</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" v-model="Rec.Cle_Name" maxlength="50" id="Cle_Name_r" readonly />
                        </div>

                        <dt class="col-sm-4">清除機構合約文件</dt>
                        <dd class="col-sm-8">
                            <ul class="m-0 p-0">
                                <li v-for="f in RecV.FileCleDoc">
                                    <a :href="urlContent(f.FilePath)" target="_blank">{{f.OriginalFileName}}</a>
                                </li>
                            </ul>
                        </dd>
                    </div>
                    <div class="form-group row">
                        <label for="Tre_Name_r" class="col-md-3 col-form-label">處理機構</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" v-model="Rec.Tre_Name" maxlength="50" id="Tre_Name_r" readonly />
                        </div>

                        <dt class="col-sm-4">處理機構合約文件</dt>
                        <dd class="col-sm-8">
                            <ul class="m-0 p-0">
                                <li v-for="f in RecV.FileTreDoc">
                                    <a :href="urlContent(f.FilePath)" target="_blank">{{f.OriginalFileName}}</a>
                                </li>
                            </ul>
                        </dd>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- 檢視框 -->
</div>

@section Scripts{
    <script src="~/js/MixinPagerRecList.js"></script>
    <script src="~/js/MixinPagerRecViewList.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            mixins: [MixinPagerRecList, MixinPagerRecViewList],
            data: {
                RecList: [],
                RecSchSBList: [],
                AttList: [],
                Attached: {
                    FileCleDoc: { HasFile: false },
                    FileTreDoc: { HasFile: false }
                },
                Rec: {},
                RecV: {},
                Qry: {},
                FlatPickrCfg: {
                    altInput: false,
                    allowInput: true,
                    minuteIncrement: 10
                },
            },
            methods: {

                urlContent: function (path) {
                var root = '@Url.Content("~/")';
                return path.replace('~/', root);
                },

                GetStatus: function (Dat) {
                    if (!Dat) return;
                    var _Status = '';
                    if (Dat == "1")  _Status = '已安排日期';
                    if (Dat == "D")  _Status = '待確認合約';
                    if (Dat == "D1") _Status = '已確認合約';
                    if (Dat == "DM") _Status = '合約須補正';
                    if (Dat == "C1") _Status = '已完成清理'; 
                    return _Status;
                },

                Load: function () {
                    var me = this;
                    this.$http.post({
                        ApiDesc: "資料載入",
                        url: "@Url.Content("~/api/ScheduleDoc/Load")",
                        data: {},
                        success: function (_Result) {
                            me.RecList = _Result;
                            return;

                            if (_Result.IsSuccess === false) {
                                UiHelper.ShowErr(_Result.Msg);
                                return;
                            }
                            UiHelper.ShowMsg(_Result.Msg);
                            me.RecList = _Result.RecList;
                        }
                    });
                },

                GetList: function (Qry) {
                    var me = this;
                    this.$http.post({
                        ApiDesc: "資料查詢",
                        url: "@Url.Content("~/api/ScheduleDoc/GetList")",
                        data: Qry,
                        success: function (_Result) {
                            me.RecList = _Result;
                        }
                    });
                },

                Edit: function (item, index) {
                    var me = this;
                    me.AttList = [];
                    me.Rec = item || {
                        Uid: "0"
                    };

                    $('#ModifyDialog').modal("show");
                    if (!this.Rec.Pid) return;
                    this.$http.post({
                        ApiDesc: "單筆資料載入",
                        url: "@Url.Content("~/api/ScheduleDoc/GetItem")",
                        data: {
                            Pid: this.Rec.Pid
                        },
                        success: function (_Result) {
                            me.Rec = _Result.Rec;
                            me.RecV = _Result.Rec;
                            me.RecSchSBList = _Result.RecSchSBList;
                            me.Rec.EditIndex = index;
                            me.AttList = _Result.AttList;
                        }
                    });
                },

                FileUpLoadChange: function (e, att, describe) {
                    var me = this;
                    att.HasFile = false;
                    delete att.f;
                    var files = e.target.files || e.dataTransfer.files;
                    if (!files.length) return;
                    UiHelper.GetFile(files[0], function (f) {
                        var _Err = [];
                        if (!(/\.pdf$/i).test(f.name)) _Err.push(describe + "只能上傳Pdf格式檔案");
                        if (f.size / (1024 * 1024) > 10) _Err.push(describe + "檔案不能超過10MB");
                        if (_Err.length > 0) {
                            UiHelper.alert("<ul><li>" + _Err.join("</li><li>") + "</li>");
                            return;
                        }
                        me.IsShowUpLoadBtn = (_Err.length <= 0);
                        att.HasFile = true;
                        att.f = f;
                    });
                },

                SaveAttached: function (Rec, att) {
                    if (!att.HasFile) return;
                    var me = this;
                    me.$http.post({
                        ApiDesc: "附件存檔",
                        url: "@Url.Action("SaveAttached", "ScheduleDoc")",
                        data: {
                            Pid: Rec.Pid,
                            att: att.f
                        }
                    });
                },

                /**
                 * 基本表單前端資料檢核
                 * @@param { any } Rec 主要申請資料表
                 * @@returns { Array } 錯誤明細清單
                 */
                FormCheck: function (Rec, Att) {
                    var errors = [];
                    Attachment = {};

                    if (!Att.FileCleDoc.HasFile && ln == 0) {
                        errors.push("『清除機構證明』附件未提供");
                    } else {
                        Attachment["@eItemType.CleDoc.ToString()"] = Att.FileCleDoc.f;
                    }
                    if (!Att.FileTreDoc.HasFile && ln == 0) {
                        errors.push("『處理機構證明』附件未提供");
                    } else {
                        Attachment["@eItemType.TreDoc.ToString()"] = Att.FileTreDoc.f;
                    }

                    return errors;
                },
                /**
                 * 案件送出
                 * @@param { any } Rec 主要申請資料表
                 */
                Save: function (Rec, Att) {
                    var me = this;
                    var errors = me.FormCheck(Rec, Att);
                    if (errors.length) {
                        UiHelper.ClearMsg().ShowErr(errors, 6000);
                        return;
                    }
                    RecAll = { 'Rec': Rec, 'Attachment': Attachment }
                    this.$http.post({
                        ApiDesc: "資料存檔",
                        url: "@Url.Content("~/api/ScheduleDoc/Save")",
                        data: RecAll,
                        success: function (_Result) {
                            if (me.Rec.hasOwnProperty('EditIndex')) {

                                me.RecList[me.Rec.EditIndex] = _Result.Rec;
                            } else {
                                me.RecList.unshift(_Result.Rec);
                            }
                            me.$forceUpdate();
                            $('#ModifyDialog').modal("hide");
                        }
                    });
                },

                View: function (item) {
                    var me = this;
                    me.Rec = item;
                    me.$http.post({
                        ApiDesc: '單筆資料載入',
                        url: '@Url.Action("View", "ScheduleDoc")',
                        data: {
                            Pid : item.Pid
                        } ,
                        success: function (result) {
                            me.RecV = result.Rec;
                            me.RecSchSBList = result.RecSchSBList;
                            me.AttList = result.AttList;
                            $('#ViewDialog').modal('show');
                            $('#nav-tab a:eq(0)').tab('show');
                        }
                    });
                },
            },

            created: function () {

                this.Load();
            }
        });

    </script>
}