@page
@{
    ViewData["Title"] = "稽核行程管理";
}
<div id="app" v-cloak>
    <environment include="Development">
        <pre>{{Rec|json}}</pre>
        <pre>{{Qry|json}}</pre>
    </environment>
    <div class="form-inline inline-box">
        <label for="Qry.StartDt" class="control-label ml-4">預定允收日期:</label>
        <flat-pickr v-model="Qry.StartDt" :config="FlatPickrCfg" placeholder="開始日期" name="FlatPickrCfg" class="form-control text-center" style="width:8rem;"></flat-pickr>
        ～<flat-pickr v-model="Qry.EndDt" :config="FlatPickrCfg" placeholder="結束日期" name="FlatPickrCfg" class="form-control text-center" style="width:8rem;"></flat-pickr>
        <label class="control-label ml-4">使用狀態:</label>
        <label><input type="radio" v-model.number="Qry.Aud_State" value="S" />提出申請</label>
        <label><input type="radio" v-model.number="Qry.Aud_State" value="M" />待補正</label>
        <label><input type="radio" v-model.number="Qry.Aud_State" value="N" />不通過</label>
        <label><input type="radio" v-model.number="Qry.Aud_State" value="Y1" />通過</label>
        <div class="m-auto"></div>
        <input type="button" value="搜尋" @@click="GetList(Qry)" class="btn btn-outline-success" />
    </div>
    <div class="table-responsive-md">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>稽核行程編號</th>
                    <th>處理廠/貯存場名稱</th>
                    <th>允收稽核日期</th>
                    <th>允收稽核預定停留時間(分鐘)</th>
                    <th>允收稽核人員</th>
                    <th>處理稽核日期</th>
                    <th>處理稽核預定停留時間(分鐘)</th>
                    <th>處理稽核人員</th>
                    <th>預定數量(片)</th>
                    <th>狀態</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in RecList.slice(pageStart, pageStart + countOfPage)">
                    <td>{{item.Aud_Sch_No}}</td>
                    <td>{{item.CompanyName}}</td>
                    <td>{{item.Pre_Date | formatDate}}</td>
                    <td>{{item.Pre_Minute}}</td>
                    <td>{{item.Aud_Man}}</td>
                    <td>{{item.Tre_Pre_Date | formatDate}}</td>
                    <td>{{item.Tre_Pre_Minute}}</td>
                    <td>{{item.Tre_Aud_Man}}</td>
                    <td>{{item.Pre_Qry}}</td>
                    <td>{{GetStatus(item.Aud_State)}}</td>
                    <td>
                        <input type="button" class="btn btn-outline-dark" value="檢視" @@click="View(item);" v-if="item.Aud_State == 'M' || item.Aud_State ==  'N' || item.Aud_State ==  'Y1' || item.Aud_State ==  '1' " />
                        <input type="button" class="btn btn-outline-primary" value="確認" @@click="View(item);" v-if="item.Aud_State == 'S'" />
                        @*<input type="button" class="btn btn-outline-primary" value="編輯" @@click="Edit(item,index+pageStart);" v-if="item.Cle_State == '1' || item.Cle_State ==  'M'" />*@
                        @*<input type="button" class="btn btn-outline-warning" value="刪除" @@click="Delete(index+pageStart);" tabindex="-1" v-if="item.Cle_State == '1'" />*@
                    </td>
                </tr>
            </tbody>
        </table>
    </div><!-- 查詢結果 -->
    <div class="text-right">
        <partial name="_PagerRecListPartial" />
    </div><!-- 分頁控制 -->
    <div id="ModifyDialog" class="modal fade text-left" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">[編輯]<span v-if="Rec.Pid > 0"> {{Rec.Aud_Sch_No}}</span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="form-inline inline-box">
                    <label for="StartDt" class="control-label">案場排出登記表申請日期區間:</label>
                    <label for="EndDt"></label>
                    <div class="col-md-9">
                        <flat-pickr v-model="Qry.StartDt" :config="FlatPickrCfg" placeholder="開始日期" name="FlatPickrCfg" class="form-control w-8" id="StartDt" readonly></flat-pickr>~
                        <flat-pickr v-model="Qry.EndDt" :config="FlatPickrCfg" placeholder="結束日期" name="FlatPickrCfg" class="form-control w-8" id="EndDt" readonly></flat-pickr>
                    </div>
                    <div class="m-auto"></div>
                    <input type="button" value="搜尋" @@click="GetSBList(Qry)" class="btn btn-outline-success" />
                </div>
                <div class="table-responsive-md">
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th>案場排出登記表申請編號</th>
                                <th>數量(片)</th>
                                <th>進廠日期</th>
                                <th>勾選申請</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(Sitem,index) in RecSchSBList.slice(pageViewStart, pageViewStart + countViewOfPage)">
                                <td>{{Sitem.Bookingno}}</td>
                                <td>{{Sitem.Qty}}</td>
                                <td>{{Sitem.Enter_Date|formatDate}}</td>
                                <td><input type="checkbox" class="form-check-input" :value="Sitem.Bookingno" v-model="Bno" id="Bno" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <environment include="Development">
                        <pre>{{Bno|json}}</pre>
                    </environment>
                </div><!-- 查詢結果 -->
                <div class="text-right">
                    <partial name="_PagerRecViewListPartial" />
                </div>
                <!-- 分頁控制 -->
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="Rec.Pre_Date" class="col-md-3 col-form-label">允收稽核日期</label>
                        <div class="col-md-9">
                            <flat-pickr v-model="Rec.Pre_Date" id="Rec.Pre_Date" :config="FlatPickrTimeCfg" placeholder="允收稽核日期" name="FlatPickrTimeCfg" class="form-control w-12" id="Pre_Date" readonly></flat-pickr>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Rec.Tre_Pre_Date" class="col-md-3 col-form-label">處理稽核日期</label>
                        <div class="col-md-9">
                            <flat-pickr v-model="Rec.Tre_Pre_Date" id="Rec.Tre_Pre_Date" :config="FlatPickrTimeCfg" placeholder="處理稽核日期" name="FlatPickrTimeCfg" class="form-control w-12" id="Tre_Pre_Date" readonly></flat-pickr>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @@click="Save(Rec,Bno);">存檔</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- 編輯框 -->
    <div id="ViewDialog" class="modal fade text-left" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">[檢視]<span v-if="Rec.Pid > 0"> {{Rec.Aud_Sch_No}}</span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a data-toggle="tab" href="#sb1" role="tab" class="nav-item nav-link active">稽核資訊</a>
                        <a data-toggle="tab" href="#sb2" role="tab" class="nav-item nav-link">確認資料</a>
                    </div>

                    <div class="tab-content tab-content-border" style="height: 640px; overflow-y: auto">
                        <div class="form-group row">
                            <label id="Rec.CompanyName" class="col-md-3 col-form-label">處理廠/貯存場名稱</label>
                            <div class="col-md-9">
                                <input class="form-control" v-model="Rec.CompanyName" type="text" disabled="disabled" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Rec.Pre_Date" class="col-md-3 col-form-label">允收稽核日期</label>
                            <div class="col-md-9">
                                <flat-pickr v-model="Rec.Pre_Date" id="Rec.Pre_Date" :disabled="DateDisable" :config="FlatPickrTimeCfg" placeholder="允收稽核日期" name="FlatPickrTimeCfg" class="form-control w-12" id="Pre_Date_r" readonly></flat-pickr>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Rec.Tre_Pre_Date" class="col-md-3 col-form-label">處理稽核日期</label>
                            <div class="col-md-9">
                                <flat-pickr v-model="Rec.Tre_Pre_Date" id="Rec.Tre_Pre_Date" :disabled="DateDisable" :config="FlatPickrTimeCfg" placeholder="處理稽核日期" name="FlatPickrTimeCfg" class="form-control w-12" id="Tre_Pre_Date_r" readonly></flat-pickr>
                            </div>
                        </div>

                        <div id="sb1" role="tabpanel" class="tab-pane active">
                            <div class="table-responsive-md">
                                <table class="table table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th>案場排出登記表申請編號</th>
                                            <th>數量(片)</th>
                                            <th>進廠日期</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(Sitem,index) in RecSchSBList.slice(pageViewStart, pageViewStart + countViewOfPage)">
                                            <td>
                                                @*{{Sitem.Bookingno}}*@
                                                <form style="display:inline" method="post" action='@Url.Content("~/BackEnd/Apply/ScrapBookingVue")' target="_blank">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" v-model="Sitem.Bookingno" :value="Sitem.Bookingno" name="Bno">
                                                    <button class="btn btn-outline-info" type="submit">{{Sitem.Bookingno}}</button>
                                                </form>
                                            </td>
                                            <td>{{Sitem.Qty}}</td>
                                            <td>{{Sitem.Enter_Date|formatDate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- 查詢結果 -->
                            <div class="text-right">
                                <partial name="_PagerRecViewListPartial" />
                            </div>
                            <br /><br /><br />
                            <!-- 分頁控制 -->


                            <div class="modal-footer">

                            </div>
                        </div>
                        <div id="sb2" role="tabpanel" class="tab-pane">
                            <template v-if="RecV.Aud_State == 'S'">
                                <div class="form-inline inline-box">
                                    <label><input type="radio" v-model="Review.Status" value="Y1" />通過</label>
                                    <label><input type="radio" v-model="Review.Status" value="M" />補正</label>
                                    <label><input type="radio" v-model="Review.Status" value="N" />不通過</label>
                                </div>
                                <div class="form-inline pl-2" v-if="Review.Status == 'M' || Review.Status == 'N'">
                                    <label for="Review.Check_opinion">意見：</label> <input class="form-control" type="text" id="Review.Check_opinion" v-model="Review.Check_opinion" maxlength="50" style="width: 600px" />
                                </div>
                                <div class="form-inline pl-2" v-if="Review.Status == 'Y1'">
                                    <label for="Pre_Minute" class="col-md-6 col-form-label">允收稽核預計停留時間(分鐘)</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" v-model="Review.Pre_Minute" maxlength="50" id="Pre_Minute" />
                                    </div>
                                    <label for="Aud_Man" class="col-md-6 col-form-label">允收稽核稽核人員</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" v-model="Review.Aud_Man" maxlength="50" id="Aud_Man" />
                                        @*<input type="checkbox" class="form-check-input" :value="AuditAccount.Uid" v-model="DisplayName" id="DisplayName" />*@
                                    </div>
                                    <label for="Pre_Minute" class="col-md-6 col-form-label">處理稽核預計停留時間(分鐘)</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" v-model="Review.Tre_Pre_Minute" maxlength="50" id="Pre_Minute" />
                                    </div>
                                    <label for="Aud_Man" class="col-md-6 col-form-label">處理稽核稽核人員</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" v-model="Review.Tre_Aud_Man" maxlength="50" id="Aud_Man" />
                                    </div>
                                </div>
                                <div class="modal-footer mt-4">
                                    <button type="button" class="btn btn-primary" @@click="SaveReview(RecV, Review)">確認</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-warning">取消</button>
                                </div>
                            </template>
                            <table class="table table-sm table-bordered" v-if="ReviewList.length > 0">
                                <tr class="text-center bg-gray-200">
                                    <th class="w-7">確認者</th>
                                    <th class="w-7">確認日期</th>
                                    <th>確認意見</th>
                                </tr>
                                <tr v-for="r in ReviewList">
                                    <td>{{r.Check_Name}}</td>
                                    <td>{{r.Check_Date | formatDate}}</td>
                                    <td>
                                        <div v-if="r.Status == 'Y1'">
                                            通過
                                        </div>
                                        <div v-if="r.Status == 'M' || r.Status == 'N'">
                                            {{r.Status == 'M' ? '補正' : '不通過'}}，
                                            {{r.Check_opinion}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div><!-- 檢視框 -->
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/MixinPagerRecList.js"></script>
    <script src="~/js/MixinPagerRecViewList.js"></script>
    <environment include="Development">
        <script>
            Vue.config.devtools = true
        </script>
    </environment>
    <script>
        var app = new Vue({
            el: '#app',
            mixins: [MixinPagerRecList, MixinPagerRecViewList],
            data: {
                RecList: [],
                RecSchSBList: [],
                AttList: [],
                Rec: {},
                RecV: {},
                Qry: {},
                Bno: [],
                Review: {},
                ReviewList: [],
                AuditAccount: [],
                FlatPickrCfg: {
                    altInput: false,
                    allowInput: true,
                    minuteIncrement: 10
                },
                FlatPickrTimeCfg: {
                    altInput: false,
                    allowInput: true,
                    minuteIncrement: 1,
                    enableTime: true,
                    dateFormat: "Y-m-d H:i"
                },
                DateDisable: false
            },
            methods: {

                GetStatus: function (Dat) {
                    if (!Dat) return;
                    var _Status = '';
                    if (Dat == "1") _Status = '填寫中';
                    if (Dat == "S") _Status = '提出申請';
                    if (Dat == "M") _Status = '待補正';
                    if (Dat == "N") _Status = '審核不通過';
                    if (Dat == "Y1") _Status = '通過';
                    return _Status;
                },

                GetAuditAccount: function () {
                    var me = this;
                    this.$http.post({
                        ApiDesc: "取得審核人員",
                        url: "@Url.Action("GetAuditAccount", "ScheduleAudit")",
                        data: {},
                        success: function (_Result) {
                            me.AuditAccount = _Result;
                            return;
                        }
                    });
                },

                Load: function () {
                    var me = this;
                    this.$http.post({
                        ApiDesc: "資料載入",
                        url: "@Url.Content("~/api/ScheduleAudit/Load")",
                        data: {},
                        success: function (_Result) {
                            me.RecList = _Result;
                            return;

                            if (_Result.IsSuccess === false) {
                                UiHelper.ShowErr(_Result.Msg);
                                return;
                            }
                            UiHelper.ShowMsg(_Result.Msg);
                            me.RecList = _Result.RecList;
                        }
                    });
                },

                GetList: function (Qry) {
                    var me = this;
                    this.$http.post({
                        ApiDesc: "資料查詢",
                        url: "@Url.Content("~/api/ScheduleAudit/GetList")",
                        data: Qry,
                        success: function (_Result) {
                            me.RecList = _Result;
                        }
                    });
                },

                GetSBList: function (Qry) {
                    var me = this;
                    this.$http.post({
                        ApiDesc: "資料查詢",
                        url: "@Url.Content("~/api/ScheduleAudit/GetSBList")",
                        data: Qry,
                        success: function (_Result) {
                            me.RecSchSBList = _Result;
                        }
                    });
                },

                Edit: function (item, index) {
                    var me = this;
                    me.AttList = [];
                    me.Rec = item || {
                        Uid: "0"
                    };
                    me.DateDisable = false;
                    $('#ModifyDialog').modal("show");
                    if (!this.Rec.Pid) return;
                    this.$http.post({
                        ApiDesc: "單筆資料載入",
                        url: "@Url.Content("~/api/ScheduleAudit/GetItem")",
                        data: {
                            Pid: this.Rec.Pid
                        },
                        success: function (_Result) {
                            me.Rec = _Result.Rec;
                            me.Rec.EditIndex = index;
                            me.AttList = _Result.AttList;
                        }
                    });
                },

                /**
                 * 基本表單前端資料檢核
                 * @@param { any } Rec 主要申請資料表
                 * @@returns { Array } 錯誤明細清單
                 */
                FormCheck: function (Rec) {
                    var errors = [];

                    if (!Rec.Pre_Date) errors.push("『允收稽核日期』未填寫");
                    if (!Rec.Tre_Pre_Date) errors.push("『處理稽核日期』未填寫");

                    return errors;
                },
                /**
                 * 案件送出
                 * @@param { any } Rec 主要申請資料表
                 */
                Save: function (Rec, Bno) {
                    var me = this;
                    var errors = me.FormCheck(Rec);
                    if (errors.length) {
                        UiHelper.ClearMsg().ShowErr(errors, 6000);
                        return;
                    }
                    RecAll = { 'Rec': Rec, 'Bno': Bno }
                    this.$http.post({
                        ApiDesc: "資料存檔",
                        url: "@Url.Content("~/api/ScheduleAudit/Save")",
                        data: RecAll,
                        success: function (_Result) {
                            if (me.Rec.hasOwnProperty('EditIndex')) {

                                me.RecList[me.Rec.EditIndex] = _Result.Rec;
                            } else {
                                me.RecList.unshift(_Result.Rec);
                            }
                            me.$forceUpdate();
                            me.GetList(me.Qry);
                            $('#ModifyDialog').modal("hide");
                        }
                    });
                },

                SaveReview: function (Rec, Review) {
                    var me = this;
                    var errors = me.Valid(Review);
                    if (errors.length) {
                        UiHelper.ClearMsg().ShowErr(errors, 6000);
                        return;
                    }
                    Review.Aud_Sch_No = Rec.Aud_Sch_No;

                    me.$http.post({
                        ApiDesc: "審查資料存檔",
                        url: '@Url.Action("SaveReview", "ScheduleAudit")',
                        data: Review,
                        success: function (result) {
                            me.RecList[me.Rec.CKIndex] = result.Rec;
                            me.GetList(me.Qry);
                            me.$forceUpdate();
                            $('#ViewDialog').modal('hide');
                        }
                    });
                },

                /**
                 * 表單驗證
                 * @@param { any } Review 清理行程表-審查確認
                 * @@returns { Array } 錯誤明細清單
                 */
                Valid: function (Review) {
                    var errors = [];

                    if (!Review.Status) {
                        errors.push('『確認狀態』未填寫');
                    }
                    else if (Review.Status == 'M' || Review.Status == 'N') {
                        if (!Review.Check_opinion) {
                            errors.push('『意見』未填寫');
                        }
                    }

                    return errors;
                },

                View: function (item) {
                    var me = this;
                    me.Rec = item;
                    me.DateDisable = true;
                    me.$http.post({
                        ApiDesc: '單筆資料載入',
                        url: '@Url.Action("View", "ScheduleAudit")',
                        data: {
                            Pid : item.Pid
                        } ,
                        success: function (result) {
                            me.RecV = result.Rec;
                            me.RecSchSBList = result.RecSchSBList;
                            me.ReviewList = result.ReviewList;
                            $('#ViewDialog').modal('show');
                            $('#nav-tab a:eq(0)').tab('show');
                        }
                    });
                },
            },

            created: function () {
                var self = this;
                this.GetList(self.Qry);
                //this.GetAuditAccount();
            }
        });

    </script>
}